*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


@font-face {
  font-family: Courier;
  src: url(https://allfont.ru/allfont.css?fonts=courier)

}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}


html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}


input,button,textarea{font-family: inherit;}


input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body, header, main, footer {
    margin: 0;
    padding: 0;
}

.header-bg{
  position: fixed;
  min-width: 100%;
  max-width: none;
  width: 1899px;
  height: 60px;
  background: black;
  border: 2px white;
  z-index: 10;
}

.social_VK{
    position: fixed;
    font-size: 14px;
    width: 26px;
    height: 26px;
    left: 1570px;
    top: 15px;
    margin-top: 0%;
    z-index: 10;
}


.social_Git{
    position: fixed;
    font-size: 14px;
    width: 29px;
    height: 29px;
    left: 1650px;
    top: 13px;
    margin-top: 0%;
    z-index: 10;

}


.social_Telegram{
    position: fixed;
    font-size: 14px;
    width: 32px;
    height: 32px;
    left: 1730px;
    top: 13px;
    margin-top: 0%;
    z-index: 10;
}


.social_Inst{
    position: fixed;
    font-size: 14px;
    width: 26px;
    height: 30px;
    left: 1810px;
    top: 13px;
    margin-top: 0%;
    border: 1px solid #ffffff;
    z-index: 10;
}


.menu{
  position: fixed;
  top:15px;
  left: 450px;
  color: white;
  font-size: 20px;
  word-spacing: 80px;
  z-index: 10;
}

.menu1{
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: -155px;
  top: -5px;
  z-index: 10;
}

.menu2{
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: -20px;
  top: -5px;
  z-index: 10;
}

.menu3{
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: 123px;
  top: 2px;
  z-index: 10;
}

.menu4{
  position: absolute;
  height: 32px;
  width: 32px;
  margin-left: 285px;
  top: 2px;
  z-index: 10;
}


/*.foter{

} */


div.background {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
  }
  

div.background_l2 {
    position: absolute;
    top: 50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -2;
  }

  div.background_l3 {
    position: absolute;
    top: 195%;
    left: -60%;
    width: 220%;
    height: 100%;
    z-index: -3;
  }

  div.background_l4 {
    position: absolute;
    top: 240%;
    left: -60%;
    width: 220%;
    height: 220%;
    z-index: -4;
  } 


img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
  }

 
.txt_home{
    position: absolute;
    top: 300px;
    left: 50%;
    font-weight: 540;
    font-family: Georgia;
    z-index: 9;
    font-family: 'Rubik One', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    background: #2E2F45;
    display: table;
    margin: 20px auto;
    color: white;
    border-radius: 7px;
    mix-blend-mode: multiply;
    padding: 5px 10px;
}

.txt_author{
  position: absolute;
  top: 1090px;
  left: 250px;
  font-family: 'Rubik One', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  background: #2E2F45;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 7px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
}

.txt_author_1{
  position: absolute;
  top: 1140px;
  left: 650px;
  font-family: 'Rubik One', sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  background: #2E2F45;
  display: table;
  margin: 20px auto;
  color: white;
  border-radius: 7px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
}

.txt_contacts{
  position: absolute;
  top: 350px;
  left: 55%;
  font-size: 32px;
  font-weight: 540;
  font-family: Georgia;
  z-index: 9;
}

.txt_fans{
  position: absolute;
  top: 350px;
  left: 55%;
  font-size: 32px;
  font-weight: 540;
  font-family:Impact, sans-serif;
  z-index: 9;
}

.Home_WebDeveloper{
    position: absolute;
    min-width: 40%;
    min-height: 40%;
    margin-top: 200px;
    margin-left: 150px;
    height: 30%;
    width: 30%;
    z-index: 9;
    border-radius: 20%;
}


.school{
  position: absolute;
  height: 400px;
  width: 400px;
  left: 150px;
  top: 1190px;
}

.school_txt{
  position: absolute;
  top: 378px;
  text-align: center;
  font-size: 26px;
  font-weight: 550;
  padding: 20px;
  letter-spacing: 0.2em;
  border: 3px solid;
  border-image: linear-gradient(20deg, #0edbaf 38%, #1c06e0 65%);
  border-image-slice: 1;
  font-family: 'Courier New', Courier, monospace;
}

.academy{
  position: absolute;
  height: 450px;
  width: 450px;
  left: 700px;
  top: 1170px;
}

.academy_txt{
  position: absolute;
  top: 400px;
  text-align: center;
  font-size: 26px;
  font-weight: 550;
  padding: 20px;
  letter-spacing: 0.2em;
  border: 3px solid;
  border-image: linear-gradient(20deg, #0edbaf 38%, #1c06e0 65%);
  border-image-slice: 1;
  font-family: 'Courier New', Courier, monospace;
}

.university{
  position: absolute;
  height: 450px;
  width: 450px;
  left: 1300px;
  top: 1170px;
}

.university_txt{
  position: absolute;
  top: 400px;
  text-align: center;
  font-size: 26px;
  font-weight: 550;
  padding: 20px;
  letter-spacing: 0.2em;
  border: 3px solid;
  border-image: linear-gradient(20deg, #0edbaf 38%, #1c06e0 65%);
  border-image-slice: 1;
  font-family: 'Courier New', Courier, monospace;
}

.top_button{
  position: fixed;
  width: 50px;
  border: 4px solid grey;
  background: #2f91ee;
  text-align: center;
  padding: 10px;
  bottom: 590px;
  right: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 30px;
  background: linear-gradient(135deg, #c5ebe8 20%, #042ea1 70%);
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #042ea1 20%, #c5ebe8 70%);
  border-image-slice: 1;
}


.bottom_button{
  position: fixed;
  width: 50px;
  border: 4px solid grey;
  background: #2f91ee;
  text-align: center;
  padding: 10px;
  bottom: 510px;
  right: 30px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 30px;
  background: linear-gradient(135deg, #c5ebe8 20%, #042ea1 70%);
  border: 3px solid transparent;
  border-image: linear-gradient(135deg, #042ea1 20%, #c5ebe8 70%);
  border-image-slice: 1;
}


body {
  background: #d6eaf8;
}
.school_button {
  position:absolute;
  top: 1720px;
  left: 230px; 
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #042ea1 0%, #0edbaf 51%, #042ea1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.school_button:hover {
  background-position: right center;
}
.academy_button {
  position:absolute;
  top: 1800px;
  left: 815px; 
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #042ea1 0%, #0edbaf 51%, #042ea1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.academy_button:hover {
  background-position: right center;
}
.university_button {
  position:absolute;
  top: 1750px;
  left: 1420px; 
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #042ea1 0%, #0edbaf 51%, #042ea1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.university_button:hover {
  background-position: right center;
}

/*
.slider-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
  }
  .slider-menu {
  position: absolute;
  left: 0;
  z-index: 90;
  width: 100%;
  top: 100;
  }
  .slider-menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 0.2em 1em;
  z-index: 20;
  }
  .slider-menu label:hover,.slider-menu label:focus {
  background: #1c87c9;
  }
  .slide {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
    padding: 5px 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
  }

  [id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
  }

.slide-1 {
  background-image: url("img/hedgehog_1.jpg");
  }
.slide-2 {
  background-image: url("img/hedgehog_2.jpg");
  }
.slide-3 {
  background-image: url("img/hedgehog_3.jpg");
  }
.slide-4 {
  background-image: url("img/hedgehog_4.png");
  }
.slide-5 {
  background-image: url("img/hedgehog_5.jpg");
  }
.slide-6 {
  background-image: url("img/hedgehog_6.jpg");
  }

                                 