*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
font-family: Courier;
src: url(https://allfont.ru/allfont.css?fonts=courier)

}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}


nav,footer,header,aside{display: block;}


html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}


input,button,textarea{font-family: inherit;}


input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}


h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body, header, main, footer {
  margin: 0;
  padding: 0;
}


.social_VK{
  position: fixed;
  font-size: 14px;
  width: 26px;
  height: 26px;
  left: 1570px;
  top: 15px;
  margin-top: 0%;
  z-index: 10;
}


.social_Git{
  position: fixed;
  font-size: 14px;
  width: 29px;
  height: 29px;
  left: 1650px;
  top: 13px;
  margin-top: 0%;
  z-index: 10;

}


.social_Telegram{
  position: fixed;
  font-size: 14px;
  width: 32px;
  height: 32px;
  left: 1730px;
  top: 13px;
  margin-top: 0%;
  z-index: 10;
}


.social_Inst{
  position: fixed;
  font-size: 14px;
  width: 26px;
  height: 30px;
  left: 1810px;
  top: 13px;
  margin-top: 0%;
  border: 1px solid #ffffff;
  z-index: 10;
}


.header-bg{
position: fixed;
min-width: 100%;
max-width: none;
width: 1899px;
height: 60px;
background: black;
border: 2px white;
z-index: 10;
}

.footer-bg{
position: absolute;
min-width: 100%;
max-width: none;
width:1950px;
height: 60px;
left: -1600px;
top: 1260px;
background: black;
z-index: 10;
}

.foter{
font-family: Courier;
font-size: 15px;
position: absolute;
top: 960px;
left: 1500px;
z-index: 9;

}


div.background {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -1;
}


div.background_l2 {
  position: absolute;
  top: 50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -2;
}

div.background_l3 {
  position: absolute;
  top: 195%;
  left: -60%;
  width: 220%;
  height: 100%;
  z-index: -3;
}

div.background_l4 {
  position: absolute;
  top: 240%;
  left: -60%;
  width: 220%;
  height: 220%;
  z-index: -4;
} 


img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}



.txt{
position:absolute;
font-size: 22px;
color: white;
left: 300px;
}

.menu{
position: fixed;
top:15px;
left:450px;
color: white;
font-size: 20px;
word-spacing: 80px;
z-index: 10;
}

.menu1{
position: absolute;
height: 32px;
width: 32px;
margin-left: -140px;
top: -5px;
z-index: 10;
}

.menu2{
position: absolute;
height: 32px;
width: 32px;
margin-left: -10px;
top: -5px;
z-index: 10;
}

.menu3{
position: absolute;
height: 32px;
width: 32px;
margin-left: 123px;
top: 2px;
z-index: 10;
}

.menu4{
position: absolute;
height: 32px;
width: 32px;
margin-left: 275px;
top: 2px;
z-index: 10;
}

